body{
		background-color: #f7dcd5;
		font-family: "Space Mono", courier;
		color: #5e5352;

	}

	a {
		color: #a67b77;
	}

	a:hover {
		color: #f58b7f;
		text-decoration: line-through;
		font-style: italic;
	}
	
	.content {
		max-width: 600px;
		margin: auto;
		text-align: center;
		vertical-align: middle;
		padding-top: 280px;
	}