body{
    font-family: "Inconsolata", monospace;
    font-weight: 200;
    margin: auto;
    text-align: center; 
}

a {
    color: #a67b77;
    cursor:pointer;
}

a:hover {
    color: #f58b7f;
    text-decoration: line-through;
    font-style: italic;
}

h1{
    font-family: "Inconsolata", monospace;
    font-weight: 200;
    font-style: italic;
    font-size: 17px;
}

h2 {
    font-size: 17px;
    font-weight: 400;
    line-height: 6px;
}

/* header */
nav {
    position: relative;
    width: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

nav img{
    width: 430px;
    height: auto;
}

/* index page stuff */
.parent {
    width: 40vw;
    height: 55vh;
    padding: 5px;
    margin: auto;
    line-height: 25px;
    margin-top: 10px;
    margin-bottom: 35px;
    position: relative;
    /* to center children elements */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.index{
    width: 300px;
    height: 108px;
    padding: 3px;
    position: relative;
}

.index img{
    max-width:100%;
    max-height:auto;
    position: relative;
}

.index .link-top {
    display: none;
    max-width: 94%;
    max-height: auto;
    position: absolute;
    top: auto;
    left: 10px;
    z-index: 99;
}

.index:hover .link-top {
    display: inline;
}

.index:hover #disappear{
    opacity: 0%;
}

/* about page */
.about{
    background-color:salmon;
    width: 80vw;
    height: 53vw;
    margin: auto;
    margin-top: 25px;
    margin-bottom:35px;
    position: static;
    display: inline-flex;
}

#abt{
    position: absolute;
    background-color:lemonchiffon;
    width: 47vw;
    height: auto;
    right: 72px;
    top: 300px;
    padding: 15px;
}

#block{
    position: absolute;
    background-color: cadetblue;
    width: 500px;
    height: 625px;
    left: 60px;
    top: 250px;
}

.about img{
    width:500px;
    height: auto;
    position: absolute;
    left: 90px;
    top: 270px;
}


.about p{
    font-family: "Nunito", sans-serif;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    text-align: justify;
    margin-bottom: 25px;
}

/* writing page */
#writing{
    width: 50vw;
    height:auto;
    line-height: 18px;
    margin-top: 3px;
    margin-bottom: 55px;
}

#writing p{
    display:inline;
    line-height: 15px;
    font-family: "Nunito", sans-serif;
    font-size: 15px;
    font-weight: 200;
}

.clips-headers {
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
}

/* photo page */
.gallery {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    scroll-snap-type: x mandatory;  
}

.slide {
    width: 300px;
    flex-shrink: 0;
    height: 100%;
    scroll-snap-align: start;  
}

.slides {
    -webkit-transition: opacity 2000ms ease-in-out;
       -moz-transition: opacity 2000ms ease-in-out;
         -o-transition: opacity 2000ms ease-in-out;
            transition: opacity 2000ms ease-in-out;
   }

/* #gallery {
    margin: 60px 30px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; 
}

#gallery img{
    padding: 10px;
}

#vertical-img {
    height: 750px;
    width: auto;
}

#horizontal-img {
    width: 730px;
    height: auto;
}

*/


/* footer */
footer{
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    position: fixed;
    bottom: 8px;
    opacity: .6;
    text-align: center;
}

.social-media {
    width: 15px;
}

.social-media:hover{
    opacity: .3;
    transition-timing-function: ease-in;
}